	<header class="top-header">
		<div class="container">
			<div class="row">
				<!-- nav starts here -->
				<div class="col-md-12">
					<nav class="navbar navbar-default">
						<div class="container-fluid nav-bar">
						    <div class="navbar-header">
						      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						        <span class="sr-only">Toggle navigation</span>
						        <span class="icon-bar"></span>
						        <span class="icon-bar"></span>
						        <span class="icon-bar"></span>
						      </button>

						    </div>
						    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						      <ul class="nav navbar-nav navbar-right">
						        <li><a href="#home">Home</a></li>
						        <li><a href="#features">Features</a></li>
						        <li><a href="#about">About</a></li>
						        <li><a href="#testimonials">Testimonials</a></li>
						        <li><a href="#pricing">Pricing</a></li>
						        <li><a href="#contact">Contact</a></li>
						      </ul>
						    </div>
						</div>
					</nav>
				</div>
			</div>
		</div>
	</header><!-- end of header section -->

	<!-- banner section starts here -->
	<section class="banner" id="home">
		<div class="container">
			<div class="row">
				<div class="col-xs-6 wow fadeInLeft animated">
					<h3>introducing the mepay solution</h3>
					<h1>Mepay landing page.</h1>
					<p>Targeting SME's and Micro Entreprises and helping them to bring their traditional business online and while offering cashless payment solutions.</p>
					<button class="download-btn">download now</button>
					<button class="features-btn">view features</button>
				</div>
				<div class="col-xs-6 banner-img wow fadeInRight animated">
					<%= image_tag "verticle-phone.png" %>
				</div>
			</div>
		</div>
	</section><!-- end of banner section -->

	<!-- feature sectiona -->
	<section class="features text-center" id="features">
		<div class="container">
			<div class="row">
				<h4>product overview</h4>
				<h2>List of amazing features</h2>
				<%= image_tag "daag.png" %>
				<div class="col-md-3 wow zoomIn animated">
					<i class="fa fa-desktop"></i>
					<h3>Responsive</h3>
					<p>We offer mobile friendly web applications that work on any devices.</p>
				</div>
				<div class="col-md-3 wow zoomIn animated">
					<i class="fa fa-cog"></i>
					<h3>Customizable</h3>
					<p>why use a boring template when we can create a specific and bespoke website just for you.</p>
				</div>
				<div class="col-md-3 wow zoomIn animated">
					<i class="fa fa-facebook"></i>
					<h3>Payment</h3>
					<p>We are partnered with Ozzpay Merchant Trade to give you the best and most secure online payment gateway that receive credit & debit cards and also a wide range of FPX payment.</p>
				</div>
				<div class="col-md-3 wow zoomIn animated">
					<i class="fa fa-mobile"></i>
					<h3>Mobile Ready</h3>
					<p>Our web apps can be listed in the Google Play Store or Apple store.</p>
				</div>
			</div>
		</div>
	</section><!-- end of features section -->
	<hr>
	<!-- details section -->
	<section class="details" id="about">
		<div class="container">
			<div class="row">
				<div class="col-md-5 col-xs-6 col-sm-6 wow slideInUp animated">
					<%= image_tag "verticle-phone.png" %>
				</div>
				<div class="col-md-6 col-md-offset-1 col-xs-6 col-sm-6 wow slideInUp animated">
					<h4>a bit more about details</h4>
					<h2>Beautiful on every device</h2>
					<%= image_tag "daag.png" %>
					<p>Mepay powered by the MeLAB design team :</p>
					<ul>
						<li><i class="fa fa-trophy"></i>Awesome designs</li>
						<li><i class="fa fa-mobile"></i>Fully responsive</li>
						<li><i class="fa fa-tachometer"></i>Tons of features and easy to use</li>
					</ul>
				</div>
			</div>
		</div>
	</section><!-- end of details section -->

	<!-- features details section -->
	<section class="feature-detail">
		<div class="container">
			<div class="row">
				<div class="col-xs-5 wow fadeInLeft animated">
					<h4>a bit more about details</h4>
					<h2>Super easy to customize</h2>
					<%= image_tag "daag.png" %>
					<p>As a business, you need to harness the potential of the online world. The advertisement and marketing opportunities are endless, in a forum where literally the entire planet gathers. However, the advantages of the web can be a double-edged sword. While you have the right present your product or services, others will benefit from the same rights. The ultimate fate of those who present mediocre products or websites, is to be lost in the crowd. For example, there are 600 blogs created every minute. As a blogger, you must make sure that your product stands out, and overshadows the competition.</p>
				</div>
				<div class="col-xs-7 horizontal-phone wow fadeInRight animated">
					<%= image_tag "laid-phone2.png" %>
				</div>
			</div>
		</div>
	</section><!-- end of features-detail section -->

	<!-- find section -->
	<!-- <section class="download">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-sm-8">
					<p><span>Like what you see? </span>Get this great theme now!</p>
				</div>
				<div class="col-md-4 col-sm-4">
					<button class="features-btn">view features</button>
					<button class="download-btn">download now</button>
				</div>
			</div>
		</div>
	</section><!-- end of find section --> -->

	<!-- price-plan section -->
	<section class="price-plan text-center" id="pricing">
		<div class="container">
			<div class="row">
				<div class="pricing-heading">

					<h2>Pricings &amp; Plans</h2>
					<%= image_tag "daag.png" %>
				</div>
				<div class="pricing-tables">
					<div class="col-md-4 col-sm-6 wow zoomIn animated">
						<div class="single-table free">
							<div class="table-heading">
								<h3>FREE</h3>
							</div>
							<div class="table-price">
								<h5><span>$</span>0</h5>
								<p>/per month</p>
							</div>
							<div class="table-description">
								<p>One time Set up Fee of RM 1,399.00. this comes with one page Web App and Payment Gateway</p>
								<button>ORDER NOW</button>
							</div>
						</div>
					</div>

					<div class="col-md-4 col-sm-6 wow zoomIn animated">
						<div class="single-table business">
							<div class="table-heading">
								<h3>Business</h3>
							</div>
							<div class="table-price business-price">
								<h5>$<span></span>500</h5>
								<p>/per month</p>
							</div>
							<div class="table-description">
								<p>One time Set up fee of RM 5,000. Suitable for startups or companies who need a realiable web developer to create a fast and scalable online business. This package also come with a Payment Gateway</p>
								<button>ORDER NOW</button>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 wow zoomIn animated">
						<div class="single-table ultimate">
							<div class="table-heading">
								<h3>Ultimate</h3>
							</div>
							<div class="table-price">
								<h5>$<span></span>990</h5>
								<p>/per month</p>
							</div>
							<div class="table-description">
								<p>This is a fully customisable web application that suits your needs.  apps like Airbnb, Uber, e-Wallet, Lazada or even finance apps like Maybank2U, we can create it for you. Contact us for more details!</p>
								<button>ORDER NOW</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section><!-- end of price-plan section -->

	<!-- footer starts here -->
	<footer class="footer text-center">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<p>COPYRIGHT &copy; 2017 <a href="#">MeLAB Design</a></p>
				</div>
			</div>
		</div>
	</footer>
